button>mat-icon {
    margin-top: 0.2em;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

th {
    font-size: 1.8em;
    font-family: monospace;
    font-weight: bold;
}

td {
    font-size: 1.2em;
}

th.mat-header-cell:last-of-type {
    padding-right: 0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 24px;
    padding: 20px;
}


table {
    width: 100%;
    margin: auto;
}

#espacamentoNovaReceitaETabela {
    margin-top: 0.5em;
}

#mensagemSemReceita {
    font-size: 2em;
    font-family: system-ui;
}

#botaoEditar {
    width: 5em;
    margin-left: 2em;
}

#botaoExcluir {
    width: 5em;
    margin-left: -2%;
}

#escolhaUmMes {
    font-size: 1.2em;
}

#botaoValorReceitaMesPesquisado {
    font-size: 1.5em;
}

.acoesTabela {
    cursor: pointer;
}

.inputData {
    border-radius: 0.2em;
    font-size: 1.4em;
    width: 14em;
}

.paginacao {
    font-size: 1.2em;
}

.centralizar{
    text-align: center;
}

.centralizarTd {
    vertical-align: middle;
}

.permanente {
    font-weight: bolder;
    margin-bottom: 3%;
    text-align: center;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grudarNaDireita {
    margin-left: 15%;
}

.btn-edit {
    text-align: left;
}

.table-header {
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
}


.button-add-row {
    background: #1b9e1b;
    color: #ffffff;
}

.button-editar {
    color: green;
    border: solid #f3f3f3 0.05px;
}

.button-editar:hover {
    background-color: rgba(106, 248, 113, 0.3);
    border: solid #f3f3f3 0.05px;
}


.button-remove {
    color: red;
    border: solid #f3f3f3 0.05px;
}

.button-remove:hover {
    background-color: rgba(248, 106, 106, 0.3);
    border: solid #f3f3f3 0.05px;
}

.button-confirm-edit {
    color: blue;
    border: solid #f3f3f3 0.05px;
}

.button-confirm-edit:hover {
    background-color: rgba(106, 108, 248, 0.3);
    border: solid #f3f3f3 0.05px;
}

.errorInput {
    position: absolute;
    margin-top: 1em;
}

.espacamento {
    margin-bottom: 2em;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

@media screen and (max-width: 767px) {

    .espacar {
        margin-right: 5em;
    }
    .centralizarQuandoCelular{
        text-align: center;
    }
    /* .aumentarDistanciamento {
        margin-top: 1em;
    } */
   
}





.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
