<div *ngIf="anos.length > 0 then podeMostrar else naoPodeMostrar"></div>

<ng-template #podeMostrar>

  <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
    aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
  </div> -->

  <div class="card centralizar">
    <div class="card-body">
      <h2 class="card-title">Resultado do balanço anual</h2>

      <div class="row justify-content-center" id="espacamento">

        <div class="col-md-4 col-12">
          <button type="button" class="btn btn-outline-success" title="Receita"
            id="botaoReceita">{{formatar.aplicarMascaraDinheiro(painelValoresBotoes.valorAnualReceita)}}</button>
        </div>

        <div class="col-md-4 col-12">
          <button class="btn btn-outline-danger" title="Despesa"
            id="botaoDespesa">{{formatar.aplicarMascaraDinheiro(painelValoresBotoes.valorAnualDespesa)}}</button>
        </div>

        <div class="col-md-4 col-12">
          <button class="btn btn-outline-info" title="Saldo Final"
            id="botaoSaldoFinal">{{formatar.aplicarMascaraDinheiro(painelValoresBotoes.saldoFinalAnual)}}</button>
        </div>

        <p class="card-text" id="espacamentoBotaoParaLegenda">
          <canvas #painel style="height: 400px;"></canvas>
        </p>

        <!-- <ng-template #nPode>
          <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-template> -->

      </div>

    </div>
  </div>

</ng-template>

<ng-template #naoPodeMostrar>
  <app-selecione-um-ano></app-selecione-um-ano>
</ng-template>