label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

/* input, label {
    margin: .4rem 0;
} */

th {
    font-size: 1.8em;
    font-family: monospace;
    font-weight: bold;
}

td {
    font-size: 1.2em;
}

th.mat-header-cell:last-of-type {
    padding-right: 0;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 24px;
    padding: 20px;
}


table {
    width: 100%;
    margin: auto;
}


.inputData {
    border-radius: 0.2em;
    font-size: 1.4em;
    width: 14em;
}

.paginacao {
    font-size: 1.2em;
}

.grudarNaDireita {
    margin-left: 15%;
}

.centralizar{
    text-align: center;
}

.centralizarTd {
    vertical-align: middle;
}

.btn-edit {
    text-align: left;
}

.table-header {
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
}

.button-editar {
    color: green;
}

.button-add-row {
    background: #1b9e1b;
    color: #ffffff;
}

.button-remove {
    color: red;
}

.errorInput {
    position: absolute;
    margin-top: 1em;
}

.espacamento {
    margin-bottom: 5em;
}

.btn-edit {
    text-align: left;
}

.table-header {
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
}

.button-editar {
    color: green;
}

.button-add-row {
    background: #1b9e1b;
    color: #ffffff;
}

.button-remove {
    color: red;
}

.errorInput {
    position: absolute;
    margin-top: 1em;
}

.espacamento {
    margin-bottom: 2em;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

.acoesTabela {
    cursor: pointer;
}

#cabecalhoTabela {
    font-size: 1.5em;
    font-family: auto;
}

#espacamentoNovaDespesaETabela {
    margin-top: 0.5em;
}

#mensagemSemDespesa {
    font-size: 2em;
    font-family: system-ui;
}

#botaoEditar {
    width: 5em;
    margin-left: 2em;
}

#botaoExcluir {
    width: 5em;
    margin-left: -2%;
}

#escolhaUmMes {
    font-size: 1.2em;
}

#botaoValorDespesaMesPesquisado{
    font-size: 1.5em;
}

@media screen and (max-width: 767px) {

    .espacar {
        margin-right: 5em;
    }
    .centralizarQuandoCelular{
        text-align: center;
    }
    /* .aumentarDistanciamento {
        margin-top: 1em;
    } */
   
}