
<app-navbar></app-navbar>

<div class="centralizar" id="bemVindo">
    <span>Nova despesa</span>
</div>


<form [formGroup]="formNovaDespesa" (ngSubmit)="salvarDespesa()">

    <div class="row distanciarTitulo">

        <div class="col-12 col-md-6">
            <label for="nome">Nome da despesa</label>
            <input type="text" formControlName="nomeDespesa" name="nome" placeholder="Nome ou descrição sobre a despesa"
                class="form-control" [ngClass]="{'is-invalid': foiEnviado && f.nomeDespesa.errors}">
            <div *ngIf="foiEnviado && f.nomeDespesa.errors" class="invalid-feedback">
                <div *ngIf="f.nomeDespesa.errors.required">O campo nome é obrigatório</div>
            </div>
        </div>

        <div class="col-12 col-md-4" id="celular">
            <label for="data">Data da despesa</label>
            <input type="date" name="data" formControlName="dataDespesa" max="{{dataMax | date: 'yyyy-MM-dd'}}"
                class="form-control" [ngClass]="{'is-invalid': foiEnviado && f.dataDespesa.errors}">
            <div *ngIf="foiEnviado && f.dataDespesa.errors" class="invalid-feedback">
                <div *ngIf="f.dataDespesa.errors.required">O campo data é obrigatório</div>
            </div>
        </div>

    </div>

    <div class="distanciarTitulo">

        <div class="row">

            <div class="col-12 col-md-3">
                <label for="valor">Valor da despesa</label>
                <input type="text" currencyMask value="0" formControlName="valorDespesa"
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control"
                    [ngClass]="{'is-invalid': foiEnviado && f.valorDespesa.errors}">
                <div *ngIf="foiEnviado && f.valorDespesa.errors" class="invalid-feedback">
                    <div *ngIf="f.valorDespesa.errors.required">O campo valor é obrigatório</div>
                    <div *ngIf="f.valorDespesa.errors.min">Digite um número maior ou igual a 0,01 (um centavo)</div>
                </div>
            </div>

        </div>
    </div>

    <div class="distanciarTitulo">

        <div class="row">

            <div class="col-12 col-md-4">
                <button class="btn btn-danger" type="submit">Adicionar nova despesa</button>
            </div>

        </div>
    </div>


</form>