<div class="espacamento">

  <div class="row">

    <div class=" col-8 col-md-9">

      <mat-form-field appearance="outline" id="escolhaUmMes" appDateFormatCostom>
        <mat-label>Escolha um mês</mat-label>
        <input matInput [matDatepicker]="dp" [value]="dataReceitaMaisRecente" [min]="limiteDatas.dataMaisAntiga"
          [max]="limiteDatas.dataMaisRecente" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>

    </div>

  </div>

</div>

<app-adicionar-receita></app-adicionar-receita>

<div id="espacamentoNovaReceitaETabela">

  <div *ngIf="receitaExiste then temValor else vazio"></div>

  <ng-template #temValor>

    <article class="table-header">
      <table mat-table [dataSource]="receitas.receitaDTO">
        <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
          <th mat-header-cell *matHeaderCellDef>

            <span *ngIf="col == 'nomeReceita'">
              Descrição
            </span>

            <span *ngIf="col == 'tipoReceitaDTO.descricao'">
              Categoria
            </span>

            <span *ngIf="col == 'valorReceita'">
              Valor
            </span>
            <span *ngIf="col == 'dataReceita'">
              Data
            </span>

            <span *ngIf="col == 'isEdit'">
              Ações
            </span>

          </th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="dataSchema[col]" *ngIf="!element.isEdit">
              <div class="btn-edit" *ngSwitchCase="'isEdit'; spanHeader">

                <div class="row">

                  <div class="col-5">
                    <button class="btn button-editar" title="Editar" (click)="buscarTipoReceita()"
                      (click)="element.isEdit = !element.isEdit">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>

                  <div class="col-5">
                    <button class="btn button-remove" title="Deletar" (click)="remover(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                </div>


              </div>
              <span *ngSwitchCase="'date'">
                {{element[col] | date: 'dd/MM/yyyy'}}
              </span>
              <span *ngSwitchCase="'submit'">
                <!-- <mat-icon>label</mat-icon> -->
                {{element.tipoReceitaDTO.descricao}}
              </span>
              <span *ngSwitchCase="'number'">
                {{element[col] | currency: 'BRL'}}
              </span>
              <span *ngSwitchDefault>
                {{element[col]}}
              </span>
            </div>
            <div [ngSwitch]="dataSchema[col]" *ngIf="element.isEdit">
              <div class="btn-edit" *ngSwitchCase="'isEdit'">

                <div class="row">

                  <div class="col-5">
                    <!-- (click)="element.isEdit = !element.isEdit" -->
                    <button (click)="editar(element) == true && element.isEdit = !element.isEdit"
                      class="btn button-confirm-edit" title="Confirmar">
                      <mat-icon>done</mat-icon>
                    </button>

                  </div>

                  <div class="col-5">

                    <button title="Cancelar" (click)="element.isEdit = !element.isEdit" class="btn button-remove">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>

                </div>

              </div>
              <mat-form-field *ngSwitchCase="'date'">
                <mat-label>Data</mat-label>
                <input matInput [ngClass]="{'is-invalid': foiEnviado && camposInvalidos.data}" [matDatepicker]="picker"
                  [max]="dataLimiteInput" [(ngModel)]="element[col]">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div class="errorInput invalid-feedback" *ngIf="foiEnviado && camposInvalidos.data">
                  Selecione uma data
                </div>
              </mat-form-field>

              <!-- <mat-select [value]="tipoReceitasCadastradas[1]" name="Categoria">
                <mat-option *ngFor="let tipoCategoria of tipoReceitasCadastradas" [value]="tipoCategoria">
                  {{tipoCategoria.descricao}} </mat-option>
              </mat-select> -->

              <mat-form-field *ngSwitchCase="'submit'">
                <mat-label>{{element.tipoReceitaDTO.descricao}}</mat-label>
                <!-- [(ngModel)]="element.tipoReceitaDTO.descricao" TAVA NO MAT-SELECT -->
                <mat-select disableOptionCentering [(value)]="element.tipoReceitaDTO">
                  <mat-option *ngFor="let tipoCategoria of tipoReceitasCadastradas" [value]="tipoCategoria">
                    {{tipoCategoria.descricao}}
                  </mat-option>
                </mat-select>
                <!-- <input matInput [type]="'submit'"
                 [ngClass]="{'is-invalid': foiEnviado && camposInvalidos.data}" [(ngModel)]="element[col]"> -->
              </mat-form-field>

              <mat-form-field *ngSwitchCase="'number'">
                <mat-label>Valor</mat-label>
                <input [type]="'text'" matInput currencyMask
                  [ngClass]="{'is-invalid': foiEnviado && (camposInvalidos.valor.valorNull || camposInvalidos.valor.valorZero)}"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="element[col]">
                <div class="errorInput invalid-feedback" *ngIf="foiEnviado && camposInvalidos.valor.valorZero">
                  Digite um valor superior a R$ 0,0
                </div>
                <div class="errorInput invalid-feedback" *ngIf="foiEnviado && camposInvalidos.valor.valorNull">
                  Campo em branco inválido
                </div>

              </mat-form-field>
              <mat-form-field *ngSwitchDefault>
                <mat-label>Descrição</mat-label>
                <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]"
                  [ngClass]="{'is-invalid': foiEnviado && camposInvalidos.nome}">
                <div class="errorInput invalid-feedback" *ngIf="foiEnviado && camposInvalidos.nome">
                  Campo em branco inválido
                </div>
              </mat-form-field>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </article>

    <div class="paginacao mt-3">
      <ngb-pagination [collectionSize]="config.totalItems" [pageSize]="config.itemsPerPage"
        [(page)]="config.currentPage" (pageChange)="pageChanged($event)" aria-label="Default pagination">
      </ngb-pagination>
    </div>

  </ng-template>

  <ng-template #vazio>
    <span id="mensagemSemReceita">{{responseError}}</span>
  </ng-template>
</div>