button{
    background-color: #4db98e;
    color: white;
     width: 50%; 
}

.voltar{
    background-color: #4d9ab9;
    color: white;
     width: 50%; 
}

form {
    width: 50%;
}

label {
    font-family: monospace; 
    font-size: 1.5em;
}

.alinharDireita {
    text-align: right;
}

.alinharEsquerda {
    text-align: left;
}

.distanciamentoNavbar {
    margin-top: 15em;
}

.card-body {
   text-align: -webkit-center;
   text-align: -moz-center;
}

h3 {
    font-family: sans-serif;
    font-size: 2em;
    margin-top: 0.3em;
}

@media screen and (max-width: 565px) {
    form {
        width: 100%;
    }
    
}
