<!-- Toolbar -->

<div *ngIf="serverOn then carregou else naoCarregou"></div>

<ng-template #naoCarregou>
  <app-server-off></app-server-off>
</ng-template>

<ng-template #carregou>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="{{container}}" (window:resize)="onResize($event)">
      <a class="navbar-brand" href="/">
        <img width="80" alt="Fennec Controle Financeiro Logo" src="../assets/img/fennec.png" />
      </a>
      <button class="navbar-toggler menuItens" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="receitas">Receita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="nova-despesa">Despesa</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

  <!-- <nav class="navbar">
      <div class="toolbar" role="banner">
        <div class="spacer"></div>
        <a href="/">
          <img width="40" alt="Fennec Controle Financeiro Logo" src="../assets/img/fennec.png" />
        </a>

        <div class="spacer"></div>

        <div *ngIf="router.url !== '/login' && router.url !== '/cadastro' 
        && router.url !== '/login?redirectUri=' 
        && router.url !== '/login?redirectUri=receitas'">
          <div *ngIf="isLogado == false then naoLogado else logado"></div>
        </div>


        <ng-template #naoLogado>
          <a href="/login" title="Logar">
            <button class="btn buttonColor">
              <img src="../assets/img/icones/login.png" class="imagensLoginLogout" alt="Login">
            </button>
          </a>
        </ng-template>

        <ng-template #logado>
          <a title="Sair" (click)="logout()">
            <button class="btn buttonColor">
              <img src="../assets/img/icones/logout.png" class="imagensLoginLogout" alt="Logout">
            </button>
          </a>
        </ng-template>
      </div>
    </nav> -->

    <div id="espacamentoInicio container">
      <router-outlet></router-outlet>
    </div>

</ng-template>