<!-- Toolbar -->
<nav class="navbar">
  <div class="toolbar" role="banner">
    <img width="40" alt="Fennec Controle Financeiro Logo" src="../assets/img/fennec.png" />
    <span>Fennec Controle Finaceiro</span>
    <div class="spacer"></div>

    <div *ngIf="router.url !== '/login**' && router.url !== '/cadastro' && router.url !== '/login?redirectUri='">
      <button class="btn buttonColor">
        <div *ngIf="isLogado == false then naoLogado else logado"></div>
      </button>
    </div>


    <ng-template #naoLogado>
      <a href="/login" title="Logar">
        <img src="../assets/img/icones/login.png" class="imagensLoginLogout"  alt="Login">
      </a>
    </ng-template>

    <ng-template #logado>
      <a title="Sair" (click)="logout()" >
        <img src="../assets/img/icones/logout.png" class="imagensLoginLogout" alt="Logout">
      </a>
    </ng-template>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>