.espacamento {
    margin-top: 20em;
}

.centralizar {
    text-align: center;
}

#bemVindo{
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.distanciarTitulo{
    margin-top: 2em;
}

@media screen and (max-width: 767px) {

    #celular {
        margin-top: 1em;
    }
    
}