<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="{{container}}" (window:resize)="onResize($event)">
    <a class="navbar-brand" href="/">
      <img width="80" alt="Fennec Controle Financeiro Logo" src="../assets/img/fennec.png" />
    </a>
    <button class="navbar-toggler menuItens" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse center" id="navbarSupportedContent">
      <ul class="nav nav-pills  py-3 navCentralizar ">
        <li class="nav-item">
          <a class="nav-link hvr-float-shadow {{activeIni}}" aria-selected="true" href="">INÍCIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hvr-float-shadow {{activeRec}}" aria-current="page" href="receitas">RECEITA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hvr-float-shadow {{activeDes}}" aria-current="page" href="despesas">DESPESA</a>
        </li>

        <li class="nav-item">
          <a class="nav-link hvr-float-shadow {{activeCat}}" aria-current="page" href="categorias">CATEGORIAS</a>
        </li>

      </ul>

      <div class="d-flex">
        <button class="btn borda" (click)="deslogar()">
          <img src="../../../assets/img/icones/logout.png" alt="Sair" title="Sair">
        </button>
      </div>
      <!-- <div *ngIf="logado then deslogar else logar"></div> -->
      <!-- <ng-template #deslogar></ng-template>
      <ng-template #logar>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </ng-template> -->
    </div>
  </div>
</nav>
<div style="margin-bottom: 4em;"></div>