label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: .4rem 0;
}


.inputData {
    border-radius: 0.4em;
}

.centralizar{
    text-align: center;
}

.espacamento {
    margin-top: 3em;
}

#mensagemSemReceita {
    font-size: 2em;
    font-family: system-ui;
}

#botaoEditar {
    width: 5em;
    margin-left: 2em;
}

#botaoExcluir {
    width: 5em;
    margin-left: -2%;
}

.acoesTabela {
    cursor: pointer;
}

@media screen and (max-width: 767px) {

    #botaoEditar {
        margin-left: 0;
    }
    
    #botaoExcluir {
        margin-top: 1em;
        margin-left: 0%;
    }

  }