<div *ngIf="anos.length > 0 then podeMostrar else naoPodeMostrar"></div>

<ng-template #podeMostrar>

  <h2>Painel de Controle</h2>
  <div>
    <form [formGroup]="contactForm" (mouseup)="novoChart()">
      <p>
        <select formControlName="anoSelecionado" class="form-select" [value]="anos[0]">
          <option *ngFor="let ano of anos" [ngValue]="ano">{{ano}}</option>
        </select>
      </p>
    </form>

  </div>

  <div class="card centralizar">
    <div class="card-body">
      <h2 class="card-title">Resultado do balanço anual</h2>

      <div class="row justify-content-center" id="espacamento">

        <div class="col-md-4 col-12">

          <button type="button" class="btn btn-outline-success" title="Receita" id="botaoReceita">
            <div *ngIf="carregou then carregouReceita else nCarregouReceita"></div>
            <ng-template #carregouReceita>
              {{painelValores.painelValoresAnuaisESaldo.valorAnualReceita | currency:'BRL'}}
            </ng-template>
            <ng-template #nCarregouReceita>
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-template>
          </button>

        </div>

        <div class="col-md-4 col-12">
          <button class="btn btn-outline-danger" title="Despesa" id="botaoDespesa">
            <div *ngIf="carregou then carregouDespesa else nCarregouDespesa"></div>
            <ng-template #carregouDespesa>
              {{painelValores.painelValoresAnuaisESaldo.valorAnualDespesa | currency:'BRL'}}
            </ng-template>
            <ng-template #nCarregouDespesa>
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-template>
          </button>
        </div>

        <div class="col-md-4 col-12">
          <button class="btn btn-outline-info" title="Saldo Final" id="botaoSaldoFinal">
            <div *ngIf="carregou then carregouSaldo else nCarregouSaldo"></div>
            <ng-template #carregouSaldo>
              {{painelValores.painelValoresAnuaisESaldo.saldoFinalAnual | currency:'BRL'}}
            </ng-template>
            <ng-template #nCarregouSaldo>
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </ng-template>
          </button>
        </div>

      </div>

      <p class="card-text" id="espacamentoBotaoParaLegenda">
        <canvas #painel style="height: 400px;"></canvas>
      </p>

    </div>
  </div>

</ng-template>

<ng-template #naoPodeMostrar>
  <app-selecione-um-ano></app-selecione-um-ano>
</ng-template>