h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 5em;
}

.distanciamentoNavbar {
    margin-top: 6em;
}

.fontFooter {
    font-size: 1.2em;
}

.errorMensagem {
    font-family: inherit;
    font-weight: bolder;
}

.centralizar {
    text-align: center;
}

hr {
    color: #043621;
}

button{
    background-color: #4db98e;
    color: white;
     width: 100%; 
}

label {
    margin-bottom: 0em;
    font-size: 1.3em;
    color: #42524c;
}

.semSombra {
    box-shadow: none;
}