<div class="distanciamentoNavbar">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-md-12">
            <div class="card border-success mb-3">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    <hr>

                    <form [formGroup]="loginForm" (ngSubmit)="login()">

                        <div class="mb-4">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control semSombra"
                                placeholder="Digite seu email" id="email"
                                [ngClass]="{'is-invalid': foiEnviado && f.email.errors}" />
                            <div *ngIf="foiEnviado && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">O campo de email é obrigatório</div>
                                <div *ngIf="f.email.errors.email">O campo de email digitado é inválido</div>
                            </div>
                            
                        </div>



                        <div class="mb-4">
                            <label for="senha" class="form-label">Senha</label>
                            <div class="input-group">

                                <input [type]="visualizarSenha ? 'text':'password'" formControlName="senha"
                                    class="form-control semSombra" placeholder="Digite sua senha" id="senha"
                                    [ngClass]="{'is-invalid': foiEnviado && f.senha.errors}" />

                                <span class="input-group-text" style="cursor: pointer;" (click)="mostrarSenha()">
                                    <i class="bi bi-eye-slash"
                                        [ngClass]="{'bi-eye-slash': !visualizarSenha, 'bi-eye': visualizarSenha}"></i>
                                </span>

                                <div *ngIf="foiEnviado && f.senha.errors" class="invalid-feedback">
                                    <div *ngIf="f.senha.errors.required">O campo de senha é obrigatório</div>
                                    <div *ngIf="f.senha.errors.minlength">O campo de senha precisa ter no mínimo 6
                                        digitos</div>
                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div [ngClass]="{'is-invalid': foiEnviado && existe}"></div>
                            <div *ngIf="foiEnviado && existe" class="invalid-feedback mb-3 centralizar errorMensagem">
                                {{response}}
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn">Logar</button>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="mt-4 card-footer text-muted col-12 centralizar">
                    <span class="fontFooter">Ainda não é cadastrado? </span>
                    <span>
                        <a class="fontFooter" href="/cadastro">Cadastre-se aqui</a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>