<!-- <div class="box">
    <form >
      <div class="mb-3">
        <label for="tx-email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="tx-email" />
      </div>
      <div class="mb-3">
        <label for="pwd-senha" class="form-label">Senha</label>
        <input type="password" formControlName="senha" class="form-control" id="pwd-senha" />
      </div>
      <button type="submit" class="btn btn-primary mr-5">Login</button>
      <a href="/nova-conta" class="btn btn-outline-primary">Criar Conta</a>
    </form>
  </div> -->


<div class="distanciamentoNavbar">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-md-12">
            <div class="card border-success mb-3">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    <hr>

                    <form [formGroup]="loginForm" (ngSubmit)="login()">

                        <div class="mb-4">
                            <label for="usuario" class="form-label">Usuário</label>
                            <input type="text" formControlName="usuario" class="form-control semSombra"
                                placeholder="Digite seu usuário" id="usuario"
                                [ngClass]="{'is-invalid': foiEnviado && f.usuario.errors}" />
                            <div *ngIf="foiEnviado && f.usuario.errors" class="invalid-feedback">
                                <div *ngIf="f.usuario.errors.required">O campo de usuário é obrigatório</div>
                                <div *ngIf="f.usuario.errors.minlength">O campo de usuário precisa ter no mínimo 4
                                    digitos</div>
                            </div>
                            
                        </div>



                        <div class="mb-4">
                            <label for="senha" class="form-label">Senha</label>
                            <div class="input-group">

                                <input [type]="visualizarSenha ? 'text':'password'" formControlName="senha"
                                    class="form-control semSombra" placeholder="Digite sua senha" id="senha"
                                    [ngClass]="{'is-invalid': foiEnviado && f.senha.errors}" />

                                <span class="input-group-text" style="cursor: pointer;" (click)="mostrarSenha()">
                                    <i class="bi bi-eye-slash"
                                        [ngClass]="{'bi-eye-slash': !visualizarSenha, 'bi-eye': visualizarSenha}"></i>
                                </span>

                                <div *ngIf="foiEnviado && f.senha.errors" class="invalid-feedback">
                                    <div *ngIf="f.senha.errors.required">O campo de senha é obrigatório</div>
                                    <div *ngIf="f.senha.errors.minlength">O campo de senha precisa ter no mínimo 6
                                        digitos</div>
                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div [ngClass]="{'is-invalid': foiEnviado && existe}"></div>
                            <div *ngIf="foiEnviado && existe" class="invalid-feedback mb-3 centralizar errorMensagem">
                                {{response}}
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn">Logar</button>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="mt-4 card-footer text-muted col-12 centralizar">
                    <span>Ainda não é cadastrado: </span>
                    <span>
                        <a href="/cadastro">Cadastrar</a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>