<div id="espacamentoInicio">

    <div class="row justify-content-md-center">

        <div class="col-12 centralizar">
            
            <div class="card">
                <div class="card-header balanco">

                    <div class="row">

                        <div class="col-12">

                            <h3 class="mb-4 mt-3">BALANÇO DO MÊS ATUAL</h3>

                            <button disabled class="btn btnBalanco mt-4" style="border-color: {{colorBorder}}">
                              <p id="resultadoBalanco">{{getFormattedPrice(resultado)}}</p>
                            </button>

                        </div>

                    </div>

                  
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>

        </div>

    </div>

</div>