<div id="espacamentoInicio">

    <div class="row justify-content-md-center">

        <div class="col-12 centralizar">

            <div class="card">
                <div class="card-header balanco">

                    <div class="row">

                        <div class="col-12">

                            <h3 class=" mt-3">BALANÇO DO MÊS ATUAL</h3>

                            <button disabled class="btn btnBalanco mt-4"
                                style="border-color: {{colorBorder}}; border-width: thick;">
                                <div *ngIf="carregar == true then valor else gif"></div>
                                <ng-template #gif>
                                    <img src="../../../../assets/gif/carregando.gif" class="gif">
                                </ng-template>
                                <ng-template #valor>
                                    <div *ngIf="resultado == '----' then NaNRes else NotNaN"></div>

                                    <ng-template #NaNRes>
                                        <p id="resultadoBalanco">{{resultado}}</p>
                                    </ng-template>
                                    <ng-template #NotNaN>
                                        <p id="resultadoBalanco">{{formatar.aplicarMascaraDinheiro(resultado)}}</p>
                                    </ng-template>

                                </ng-template>
                            </button>

                        </div>

                    </div>

                </div>

                <div class="card-body teste">
                    <h5 class="card-title">CLIQUE PARA DETALHAR</h5>

                    <hr>

                    <div class="row justify-content-md-center">

                        <div class="col-md-6 col-sm-12">

                            <div class="card-text">

                                <div>
                                    <a href="/receitas">
                                        <button class="btn btnReceita">
                                            <div
                                                *ngIf="valorReceita === 'Você não possuí receitas no mês atual!' then errorReceita else numeroReceita">
                                            </div>

                                            <ng-template #numeroReceita>
                                                <span class="fonteBtnResumo">{{formatar.aplicarMascaraDinheiro(valorReceita)}}</span>
                                            </ng-template>

                                            <ng-template #errorReceita>
                                                <span class="fontTextoSemReceitaEDespesa">{{valorReceita}}</span>
                                            </ng-template>

                                        </button>
                                    </a>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6 col-sm-12">

                            <div class="card-text">

                                <div>
                                    <a href="/despesas">
                                        <button class="btn btnDespesa">

                                            <div
                                                *ngIf="valorDespesa == 'Você não possuí despesas no mês atual!' then errorDespesa else numeroDespesa">
                                            </div>

                                            <ng-template #numeroDespesa>
                                                <span class="fonteBtnResumo">{{formatar.aplicarMascaraDinheiro(valorDespesa)}}</span>
                                            </ng-template>

                                            <ng-template #errorDespesa>
                                                <span class="fontTextoSemReceitaEDespesa">{{valorDespesa}}</span>
                                            </ng-template>

                                        </button>
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>