
hr {
    color: #043621;
    width: 50%;
    margin-left: 25%;
}

h5{
    font-family: 'Courier New', Courier, monospace;
}

.teste {
    padding: 0 0;
    margin-top: 1em;
}

#mensagemAqui{
    font-size: 1.3em;
    font-family: auto;
}

#espacamentoInicio{
    margin-top: 4em;
}

#espacamentoBemVindo {
    margin-top: 3em;
}

.ajustar {
    padding: 0.375em 0;
}

#hrAposBoasVindas {
    color: #043621;
    width: 100%;
    margin-left: 0;
}

#hrAposClicarBotao {
    color: #043621;
    width: 100%;
    margin-left: 0;
    margin-top: 3em;
}

#botaoNovaReceita {
    background-color: #8ac98a;
    border: 0.5px solid rgb(232, 232, 238);
    border-radius: 0.5em 0.5em;
    width: 13em;
    height: 3em;
    font-size: 150%;
}

#botaoNovaDespesa {
    background-color: #b55050;
    border: 0.5px solid rgb(232, 232, 238);
    border-radius: 0.5em 0.5em;
    width: 13em;
    height: 3em;
    font-size: 150%;
}

.centralizar {
    text-align: center;
}

#bemVindo{
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.balanco {
    height: 15em;
}

.btnBalanco {
    border-radius: 2em 2em;
    width: 25em;
    height: 5em;
}

.btnReceita {
    border-radius: 2em 2m;
    width: 85%;
    background-color: #8ac98a;
    height: 4em;
}

.btnDespesa {
    border-radius: 2em 2m;
    width: 85%;
    background-color: #b55050;
    height: 4em;
    margin-bottom: 2%;
}

.fonteBtnResumo {
    color: black;
    font-size: 2em;
    font-family: cursive;
}

.gif {
    width: 4em
}

.fontTextoSemReceitaEDespesa{
    color: black;
    font-weight: bold;
}

#resultadoBalanco {
    font-size: 2.5em;
    font-family: system-ui;
}



@media screen and (max-width: 767px) {

    .btnDespesa {
        margin-top: 1em;
    }.btnBalanco {
        width: 100%;
    } .espacoEntreBotoesNovoRegistro {
        margin-top: 1em;
    }
    
}