input {
    width: 3rem;
    /* height: 3em; */
    border-radius: 0.4em;
    font-size: 2rem;
    text-align: center;
}

.centralizar {
    text-align: center;
}

button{
    background-color: #4db98e;
    color: white;
    width: 50%; 
}

.distanciamentoNavbar {
    margin-top: 15em;
    text-align: -webkit-center;
}


@media screen and (max-width: 515px) {

  input {
      width: 2rem;
      font-size: 1.5rem;
  }
    
}